/* * {
    border: 2px solid red;
} */

/* #city-info {
    border: 2px solid black;
} */

/* #custom-forcast-box {
    border: 2px solid red; */
/* display: flex;    
    height: 50px;
} */

/* #city-info {
    height: 30vh;
    border: 1px solid black;
} */

/* .custom-day {
    height: 25vh;
} */

.weather-box {
    padding: 20px;
    border: 2px solid black;
    margin: 0 20px 25px 0;
    height: 200px;
    border-radius: 5px;
}

/* #city-uv {
    border: 2px solid red;
} */

#uv-color {
    background-color: "";
    font-weight: 900;
    padding: 5px;
    min-width: 25%;
}

.custom-card {
    width: 225px;
}

#city-info {
    max-width: 40%;
}

aside {
    align-content: center;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
    color: black;
}

.orange {
    background-color: orange;
    color: black;
}

.red {
    background-color: red;
}

.violet {
    background-color: violet;
}

#Searches li{
    list-style: none;
    background-color: black;
}

#city, #city-lat, #city-lon {
    max-width: 100%;
    min-width: 50%;
    align-self: center;
}

#searches {
    padding: 0;
}

/* #search-item {
    max-width: 100%;
    min-width: 50%;
} */