/* * {
    border: 2px solid red;
} */

/* #city-info {
    border: 2px solid black;
} */

/* #custom-forcast-box {
    border: 2px solid red; */
/* display: flex;    
    height: 50px;
} */

/* #city-info {
    height: 30vh;
    border: 1px solid black;
} */

/* .custom-day {
    height: 25vh;
} */

.weather-box {
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid black;
    margin: 0 20px 25px 0;
    height: 200px;
    border-radius: 5px;
}

.custom-card {
    width: 175px;
}

#city-info {
    max-width: 80%;
}